<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425227610781-sjmbmoe651uerfi8f6quou364vh4qcau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425227610781-sjmbmoe651uerfi8f6quou364vh4qcau</string>
	<key>API_KEY</key>
	<string>AIzaSyCNmjUi4AXUsrgW50AmZQN29TIasmxSdZs</string>
	<key>GCM_SENDER_ID</key>
	<string>425227610781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithterese.Logbook</string>
	<key>PROJECT_ID</key>
	<string>logbook-23f0e</string>
	<key>STORAGE_BUCKET</key>
	<string>logbook-23f0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425227610781:ios:288b45adce3d78a0b50274</string>
</dict>
</plist>